Unito.EUCases.CrawlersUploader/Service References/ServiceEUCases/ServiceEUCases.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceEUCases" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IServiceEUCases_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://techno.eucases.eu/CrawlerService/ServiceEUCases.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://techno.eucases.eu/CrawlerService/ServiceEUCases.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://techno.eucases.eu/CrawlerService/ServiceEUCases.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceEUCases" />
      <xsd:import schemaLocation="http://techno.eucases.eu/CrawlerService/ServiceEUCases.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MetainfoEUCases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceEUCases_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="IServiceEUCases_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEUCases_UploadFileComplex_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileComplex" />
  </wsdl:message>
  <wsdl:message name="IServiceEUCases_UploadFileComplex_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileComplexResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceEUCases">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEUCases/UploadFile" message="tns:IServiceEUCases_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEUCases/UploadFileResponse" message="tns:IServiceEUCases_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileComplex">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEUCases/UploadFileComplex" message="tns:IServiceEUCases_UploadFileComplex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEUCases/UploadFileComplexResponse" message="tns:IServiceEUCases_UploadFileComplex_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceEUCases" type="tns:IServiceEUCases">
    <wsp:PolicyReference URI="#BasicHttpBinding_IServiceEUCases_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IServiceEUCases/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileComplex">
      <soap:operation soapAction="http://tempuri.org/IServiceEUCases/UploadFileComplex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceEUCases">
    <wsdl:port name="BasicHttpBinding_IServiceEUCases" binding="tns:BasicHttpBinding_IServiceEUCases">
      <soap:address location="http://techno.eucases.eu/CrawlerService/ServiceEUCases.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>