Unito.EUCases.CrawlersUploader/Service References/ServiceEUCases/ServiceEUCases.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://techno.eucases.eu/CrawlerService/ServiceEUCases.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceEUCases" />
  <xs:element name="UploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceEUCases" minOccurs="0" name="document" nillable="true" type="q1:UploadDocumentGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileComplex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceEUCases" minOccurs="0" name="document" nillable="true" type="q2:UploadDocumentGroupComplex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileComplexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadFileComplexResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>