Unito.EUCases.CrawlersUploader/Service References/ServiceEUCases/ServiceEUCases3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetainfoEUCases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetainfoEUCases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="XmlDocumentGroup">
    <xs:sequence>
      <xs:element name="Crawler" nillable="true" type="xs:string" />
      <xs:element name="Date" nillable="true" type="xs:string" />
      <xs:element name="Document" nillable="true" type="tns:ArrayOfXmlDocumentMetaInfo" />
      <xs:element name="FileName" nillable="true" type="xs:string" />
      <xs:element name="Format" nillable="true" type="xs:string" />
      <xs:element name="Identifier" nillable="true" type="xs:string" />
      <xs:element name="Lang" nillable="true" type="xs:string" />
      <xs:element name="Operation" type="tns:Operation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="XmlDocumentGroup" nillable="true" type="tns:XmlDocumentGroup" />
  <xs:complexType name="ArrayOfXmlDocumentMetaInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="XmlDocumentMetaInfo" nillable="true" type="tns:XmlDocumentMetaInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfXmlDocumentMetaInfo" nillable="true" type="tns:ArrayOfXmlDocumentMetaInfo" />
  <xs:complexType name="XmlDocumentMetaInfo">
    <xs:sequence>
      <xs:element name="File" nillable="true" type="xs:string" />
      <xs:element name="Format" nillable="true" type="xs:string" />
      <xs:element name="Identifier" nillable="true" type="xs:string" />
      <xs:element name="Md5" nillable="true" type="xs:string" />
      <xs:element name="Operation" type="tns:Operation" />
      <xs:element name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="XmlDocumentMetaInfo" nillable="true" type="tns:XmlDocumentMetaInfo" />
  <xs:simpleType name="Operation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Add" />
      <xs:enumeration value="Upd" />
      <xs:enumeration value="Del" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Operation" nillable="true" type="tns:Operation" />
</xs:schema>